@use "sass:map";

$rems:();
$percent:();
@for $i from 1 through 10 {
  $rems: map.set($rems, "#{$i}rem", "#{$i}rem");
  $rems: map.set($rems, "#{$i*5}rem", "#{$i*5}rem");
  $rems: map.set($rems, "#{$i*10}rem", "#{$i*10}rem");
  $percent: map.set($percent, #{$i*10}, "#{$i*10}%");
}
$styles:(pe:'padding-right',ps:'padding-left',w:'width',minw:'min-width');

@each $class, $styleKey in $styles {
  @each $unit, $style in $rems {
    .#{$class}-#{$unit} {
      #{$styleKey}:#{$style} !important;
    }
  }
  @each $unit, $style in $percent {
    .#{$class}-#{$unit} {
      #{$styleKey}:#{$style} !important;
    }
  }
}


.d-flex {
  display:flex;
}
.text-start {
  text-align:left !important;
}
.collapsed {
  display: none !important;
}

.unclickable{
  cursor: initial !important;
}

.centered {
  text-align: center;
}

.small {
  font-size: 10pt;
}
.animate-opacity {
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.seethru{
  opacity: 0.4;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.flex-fill {
  flex:1 1 auto!important;
}

.cursor-pointer {
  cursor:pointer;
}
.text-nowrap {
  white-space: nowrap;
}
.text-end {
  text-align:right;
}
.text-center {
  text-align: center;
}
.align-items-center {
  align-items: center;
}
.align-self-stretch {
  align-self: stretch;
}